<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="./css/main.css">
    <title>about</title>
    <!-- about us section in footer-->
</head>

<body>
    <!-- lj logo full size-->
    <!-- navbar -->
    {{>navbar}}

      <!-- component -->
<div class="container bg-white -z-20  max-w-screen-2xl mx-auto h-full">
 
    <div class="relative flex flex-col overflow-hidden p-10 h-full">
      <div class="w-[.05rem] absolute bg-gray-700 opacity-[.3] h-full " style="left: 50%"></div>
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full  right-timeline">
        <div class=" w-5/12 flex justify-center items-center font-bold text-xl">
          <p>R.J.TIMBREWAL <span class="text-red-600">COMMERCE</span>  COLLAGE</p> 
        </div>
        <div class="z-20 flex items-center bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black ">1<span class="text-red-600">9</span>8<span class="text-red-600">2</span></h1>
        </div>
        <div class="  rounded-lg  shadow-2xl  shadow-gray-700 w-5/12 ring-2 ring-black  ">
            <img src="all_photos/RJTCC.png"  class="w-[100%] rounded-lg  object-cover " alt="">    
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
         <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">IMBA</span></p> 
        </div>
         <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black "><span class="text-red-600">1</span>9<span class="text-red-600">9</span>9</h1>
        </div>
        <div class="order-1  bg-white rounded-lg  shadow-2xl  shadow-gray-700 w-5/12 ring-2 ring-black  ">
            <img src="all_photos/lj-imba(3).png" class="w-[100%] rounded-lg  object-cover  " alt="">
           
        </div>
      </div>
      
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
          <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">MANAGEMENT</span></p> 
         </div>
        <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black ">2<span class="text-red-600">0</span>0<span class="text-red-600">1</span></h1>
        </div>
        <div class="order-1  rounded-lg shadow-2xl  shadow-gray-700 w-5/12 ring-2 ring-black">
            <img src="all_photos/lj-management(1).jpeg"  class="w-[100%]  rounded-lg  object-cover  " alt="">
            
            
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
          <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">COMMERCE</span></p> 
         </div>
        <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black "><span class="text-red-600">2</span>0<span class="text-red-600">0</span>1</h1>
        </div>
        <div class="order-1 bg-white rounded-lg shadow-2xl shadow-gray-700 w-5/12 ring-2 ring-black">
            <img src="all_photos/lj-commerce(2).jpeg"  class="w-[100%] rounded-lg  object-cover  " alt="">
            
        </div>
      </div>
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
          <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">PHARMACY</span></p> 
         </div>
        <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black ">2<span class="text-red-600">0</span>0<span class="text-red-600">4</span></h1>
        </div>
        <div class="order-1 bg-white rounded-lg shadow-2xl shadow-gray-700 w-5/12 ring-2 ring-black">
            <img src="all_photos/lj-pharmecy(4).jpeg"  class="w-[100%] rounded-lg  object-cover " alt="">
            
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
          <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">COMPUTER APPLICATIONS</span></p> 
         </div>
        <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black "><span class="text-red-600">2</span>0<span class="text-red-600">0</span>4</h1>
        </div>
        <div class="order-1 bg-white rounded-lg shadow-2xl  shadow-gray-700 w-5/12 ring-2 ring-black">
            <img src="all_photos/lj-computer-applications(1).jpeg"  class="w-[100%] rounded-lg  object-cover  " alt="">
        </div>
      </div>

        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
          <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
            <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">ENGINEERING</span></p> 
           </div>
          <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
            <h1 class="mx-auto font-semibold text-2xl text-black ">2<span class="text-red-600">0</span>0<span class="text-red-600">7</span></h1>
          </div>
          <div class="order-1 bg-white rounded-lg shadow-xl shadow-gray-700 w-5/12 ring-2 ring-black">
              <img src=".all_photos/a.png"  class="w-[100%] rounded-lg  object-cover " alt="">
             
          </div>
        </div>
    
        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
          <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
            <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">POLYTECHNIC</span></p> 
           </div>
          <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
          <h1 class="mx-auto font-semibold text-2xl text-black "><span class="text-red-600">2</span>0<span class="text-red-600">0</span>8</h1>
        </div>
          <div class="order-1 bg-white rounded-lg shadow-xl shadow-gray-700 w-5/12 ring-2 ring-black">
              <img src="all_photos/lj_polytechinique(1).jpeg" class="w-[100%] rounded-lg  object-cover " alt="">
             
          </div>
        </div>

          <!-- right timeline -->
          <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12 flex justify-center items-center font-bold text-xl">
              <p>L J <span class="text-red-600">INSTITUTE</span>  OF  <span class="text-red-600">ARCHITECTURE</span></p> 
             </div>
            <div class="z-20 flex items-center order-1 bg-white   w-10  rounded-lg">
              <h1 class="mx-auto font-semibold text-2xl text-black ">2<span class="text-red-600">0</span>1<span class="text-red-600">3</span></h1>
            </div>
            <div class="order-1 bg-white rounded-lg shadow-xl shadow-gray-700 w-5/12 ring-2 ring-black">
                <img src="all_photos/lj-architecture(1).jpeg"  class="w-[100%] rounded-lg  object-cover  " alt="">
            </div>
          </div>
    </div>
  </div>
  <div class="h-1 bg-black max-w-screen-2xl mx-auto"></div>

   <div class="max-w-screen-2xl mx-auto my-20 font-bold text-[4rem] font-serif flex justify-center">
    <p>THE <span class="text-red-600"> THREE PILLARS</span>  OF <span class="text-red-600">LJKU</span></p>
   </div>

    <div class="max-w-screen-2xl my-[10rem]  gap-8 mx-auto justify-around items-center flex flex-col xl:flex-row  relative">
      <div class="max-w-xs shadow-black transition-all duration-500 rounded overflow-hidden shadow-lg">
        <img class="w-full object-cover rounded-full" src="all_photos/Manish_Sir-PhotoRoom.png-PhotoRoom.png" alt="University Image" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-center">
            Dr. Manish Shah 
          </div>
          <p class="text-gray-700 text-center">Vice-President, LJK.</p>
        </div>
        
      </div>
      <div class="max-w-xs xl:absolute -top-10 shadow-black transition-all duration-500 rounded overflow-hidden shadow-lg">
        <img class="w-full object-cover rounded-full" src="all_photos/Pirzada Sir-PhotoRoom.png-PhotoRoom.png" alt="University Image" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-center">
            Prof. B. M. Peerzada
          </div>
          <p class="text-gray-700 text-center">Founder and Managing Trustee</p>
        </div>
        
      </div>
      <div class="max-w-xs shadow-black transition-all duration-500 rounded overflow-hidden shadow-lg">
        <img class="w-full object-cover rounded-full" src="all_photos/Photo_Dinesh_Awasthi-PhotoRoom.png-PhotoRoom.png" alt="University Image" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-center">
           Dr. Dinesh Awasthi 
          </div>
          <p class="text-gray-700 text-center">Vice-Chancellor, LJKU.</p>
        </div>
        
      </div>

    </div>


    <div class="my-2 max-w-screen-2xl mx-auto p-3  ">
      LJ Group of Institutes is managed by Lok Jagruti Kendra (LJK), a Charitable Trust and a Registered Society
      established in1980 by eminent academicians and visionaries like Prof. B.M. Peerzada, former Dean of Commerce
      Faculty,Gujarat University, Padma Bhushan Lord Meghnad Desai (L ondon School of Economics ), Prof. Gautam Appa
      (LSE), Late Prof. M.S. Trivedi, former Vice Chancellor, South Gujarat University, renowned jurist Late Shri
      Girishbhai Patel and Shri Subodhbhai Shah. It was envisioned as “a key player in education and social
      development by promoting and nurturing creativity, scholarship, innovation and excellence through a chain of
      quality institutes.” LJK’s mission has been “to establish and manage institutions with an environment in which
      new ideas, delivery strategies and scholarship flourish and from where leaders and innovators of tomorrow shall
      emerge.”
  </div>
    <div class="my-2 max-w-screen-2xl mx-auto p-3 ">
        LJK runs 27 institutions on two well-developed environment-friendly campuses with dedicated buildings and
        infrastructure facilities, and offering various diploma, undergraduate and postgraduate programmes duly approved
        by respective apex bodies. LJ Institutes have over 18000 students and 700+ faculties engaged in
        teaching-learning, research and extension activities and striving to develop students into complete citizens not
        only having the necessary subject knowledge and skills, but also the empathy towards various environmental,
        social, cultural and other issues affecting the society.
    </div>
    <br><br><br>

    <hr class="w-2/5 max-w-screen-2xl  mx-auto">


    <hr class="w-2/5 max-w-screen-2xl mx-auto"><br><br>

    <div class="my-2 max-w-screen-2xl mx-auto p-3">
        <div class="flex flex-row ">
           
            <div>
                <b>The Business Incubator</b> is an initiative to encourage, promote and support entrepreneurship and
                innovative
                Start-ups by bringing national angel syndicates and angel investors for funding.
            </div>
        </div>
        <br>


        <div class="flex flex-row">
           
            <div>
                LJK has set up <b>LJ Knowledge Foundation</b> to promote innovation and start-up interventions in the
                campus, which
                has pioneered a series of efforts to harness creative potential of students. It is a nodal agency of
                Start-up
                Innovation Scheme of the Government of Gujarat.
            </div>
        </div>
        <br>


        <div class="flex flex-row">
           
            <div>
                For promotion of innovation and entrepreneurship, an annual <b>LJ Innovation Village</b> is being
                organised since
                2013 displaying the projects of students of LJ Institutes as well those from over 10 other states of
                India.
            </div>
        </div>
        <br>


        <div class="flex flex-row">
           
            <div>
                A unique program, <b>Project to Product</b>, in which student-projects get converted into productive
                solutions and
                then taken to the market.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Collaborating with industry to conduct <b>Corporate & Skill Development Training</b> for their
                employees. More than
                5000 employees of Ford, Toyota, Suzuki and the Pharma Industry have been trained so far.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                <b>Central Placement Cell</b> is associated with more than 200 leading national and multinational
                companies to
                facilitate students for the best job.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                LJ School of Law has has taken a pioneering initiative called <b>Law on Wheels</b> designed to serve
                twin purposes:
                social as well as academic. Under this the students go to interior villages to study the social reality,
                legal
                problems of different classes of people and to spread legal awareness by rendering legal advice and
                assistance
                to the socio-economically backward classes.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Through <b> LJ Sahyog</b> more than 2000 engineering students visited 250 villages and successfully
                developed
                websites
                and Facebook pages for them, contributing thereby towards Digital India initiative.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                LJ also runs several <b>Centres of Excellence</b> focused on communication/ presentation skills,
                personality
                development, etc. to empower the students with sharp minds and exceptional talent.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                <b>LJ Software Factory</b> prepares customized application softwares for business houses and industries.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Regular centre for <b>Conduct of Online Examinations</b> such as CAT, MAT, GATE, AIEE, BITS Pilani,
                GCET, etc.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Congenial learning environment with state-of-the-art infrastructure facilities with <b>Technologically
                    Well-Equipped</b> classrooms, laboratories, faculty rooms, rich libraries, seminar halls and
                auditoria.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Learner-centred academic culture without compromise on teaching standards and the knowledge distribution
                system leading to overall development of students with balanced emphasis on sports, cultural and other
                extra-curricular activities.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Curriculum enrichment with skill-oriented add-on courses and innovative co-curricular activities
                followed by
                varied delivery strategies.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                Over 2000 computers linked with optic fiber network.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                <b>International Collaborations</b> with faculty exchange, student exchange, joint research projects and
                research
                publications as thrust areas.
            </div>
        </div>
        <br>

        <div class="flex flex-row">
           
            <div>
                <b>Strong Alumni Base</b> spread across the country and abroad and occupying key positions in various
                organizations.
            </div>
        </div>
        <br><br>

        <div class="font-bold">

            LJK, where education is a passion, the passion which leads to incessant pursuit of knowledge and
            acquisition
            of skills, has become the ultimate destination for complete education.

        </div>
        <br>


        <hr class="w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3 bg-slate-200">
            Objectives ::=>
            <br><br>
            <div><b>Affordability</b>: Affordable higher education of high quality in Gujarat</div>
            <div><b>Contribution</b>: Contribute in a big way to local industrial need and social development</div>
            <div><b>Skill Development</b>: Focus on skill development, employability and holistic development</div>
            <div><b>Social Responsibility</b>: Become a responsible social institution through value creation in the
                region</div>
            <div><b>Inclusion</b>: Inclusive education</div>
            <div><b>Pedagogy</b>: Lab-to-land-to-lab pedagogy</div>
        </div>


        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3 ">
            Feather in the LJK’s Cap: Establishment of LJ University (Lok Jakruti Kendra University)::=>
            <br><br>
            <div>The track record of the LJ Group of Institutes, its achievements and contribution to the society during
                the past 37 years has resulted in establishment of the Lok Jagruti Kendra University (LJU) by Gujarat
                Act No. 19 of 2019.</div>
        </div>


        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3 bg-slate-200">

            LJU is intended to be <b> University with a difference</b> with the following agenda::=>
            <br><br>

            <div>Skilling local youth as per cutting edge needs of local and global industries </div>
            <div>1 % of our graduates to be job creators or self employed</div>
            <div>Access to higher education to around 1 lakh youth in next decade </div>
            <div>Benefit to nearby community through community engagement program</div>
            <div>Collaboration with local industries to work on their challenges</div>
            <div>Capacity building of human resources of local MSMEs and large industries</div>
            <div>Attracting global academic communities through international collaborations for syllabus designing,
                delivery and evaluation.</div>
            <div>Nurturing graduates to be job ready and also make them entrepreneurial</div>

        </div>




        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3">

            Thrust Areas of the LJU::=>
            <br><br>

            <div>Engineering Cluster: All domains of UG, PG, Ph.D. programs, Applied Engineering, Architecture, Computer
                Applications, manufacturing</div>
            <div>Applied Sciences Cluster: UG, PG, Ph.D. in Applied Sciences, Industrial Biotechnology, Agriculture
                Biotechnology, Material Science, Chemical and Food</div>
            <div>Liberal Arts Cluster: Social Sciences, Fine Arts, Design, Film and allied studies, Commerce,
                Management, Applied Economics and allied domains </div>
            <div>Skill Cluster: Skill Academy, Vocational and blended skill, Skilling industrial human resources,
                skilling around emerging technology</div>
            <div>Health Cluster: Ayurveda, Bio Tech, Applied Bio sciences, Agriculture and allied domains</div>

        </div>


        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3 bg-slate-200">

            Academic Programmes::=>
            <br><br>

            <div>Full-time Diploma, UG, PG, and Ph.D. programmes</div>
            <div> Joint programmes with collaborating academia in India and abroad</div>
            <div>Certificate courses</div>
            <div> Short term professional education programmes</div>
            <div>Extension studies</div>
            <div>Blended MOOC/virtual learning</div>

        </div>


        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3 ">

            Qualities/ Attributes of LJU Graduate::=>
            <br><br>

            <div>Quick to learn new things and implement them </div>
            <div>Quick to adapt to new environment and changes and find solutions to problems</div>
            <div>Be open to new ideas and concepts and shall be able to take the risk of implementing them by rational
                consideration </div>
            <div>Discipline and integrity</div>
            <div>Ethically and socially responsible</div>
            <div> Innovative and entrepreneurial</div>
            <div> Academic, research, digital and information literacy</div>
            <div>Collaboration and team work</div>
            <div> Strong communicate and interpersonal skills</div>

        </div>



        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="my-2 mx-4 p-3 bg-slate-200">

            LJU has commenced its academic operations from the academic year 2019-20 with the following constituent
            institution:::=>
            <br><br>

            <div><b>Institution</b> : L. J. School of Architecture, L.J. Campus, S. G. Road, Ahmedabad</div>
            <div><b>Programme</b> : Bachelor of Architecture</div>

        </div>


        <hr class=" mt-10 w-4/5 mx-auto"><br>
        <div class="flex flex-row capitalize mx-4 my-2">
            <img src="bell-icon.jpeg" alt="sorry" class="w-14 ml-14 mr-4">
            Work for developing academic programmes, systems and processes is in progress. Other constituent
            institutions and programmes will be added in subsequent years in a phased manner.
        </div>






    </div>
<!-- footer -->
   {{>footer}}
</body>

</html>