<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./css/main.css" />

    <title>Document</title>
</head>
<body>
  {{>navbar}}

      <div class="flex max-w-screen-2xl  justify-center items-center mx-auto  gap-5 flex-row bg-gray-100 ">
        <div class=" mx-16 my-24">

            <img src="all_photos/director.jpg" alt="" class=" rounded-full ">
            <p class="mt-10 font-bold text-center ">
              Prof. Manish Gaharwar,<br>
              Director,<br>
              Career Development Services,<br>
              LJ Group of Institutes/ LJ University</p>
        </div>
        <div class="h-[15rem] w-[0.6rem] bg-black"></div>
        <div class=" mx-5 my-20">
            <div class="w-96 font-bold h-12 text-3xl mb-4">Director's Message</div>
            <p class="font-serif">

                LJ Career Development Services has a dedicated and centralized training and placement cell across
                the LJ
                Group of Institutes – LJ INDUSTRY INTERACTION & PLACEMENT CELL (LJIIPC).<br>

                The Objective of the IIPC is to reduce the gap between industry expectations (practice) and academic
                offerings (theory) by direct involvement of industry to attain symbiosis.<br>

                All the Stakeholders, namely: Institutions, Industry, Students and Society stand to gain as it can
                be a
                win-win partnership. The cell has a team of student coordinators from all institutes and branches,
                who
                are selected through a detailed process of personality analysis and are further trained to be
                dynamic
                leaders of IIPC.<br>

                Exhaustive training is provided to the students which comprise of training session/workshop on
                various
                technical and non-technical grounds. Mock aptitude tests, mock interviews, lectures by Industry
                experts,
                Industry visits and various other techniques are used to make a student “Industry Ready” and get
                exposure on the current scenario in the Industry.<br>

            </p>

           

        </div>
    </div>

      <div class="flex max-w-screen-2xl mx-auto justify-center  items-center bg-gray-100 ">
      <div class="font-serif max-w-screen-2xl mx-auto overflow-hidden p-10    my-12">
        <p class="text-xl text-[#82b0f3]">Prof. Manish Gaharwar</p>
        <p>Core Committee Member - GTU Integrated Training Placement Cell</p>
        <p>Director  Career Development Services, Industry Interaction Placement Cell,</p>
        <p>LJ Group of Institutes/LJ University, Ahmedabad. </p>
        <p>EMAIL : <a href="mailto:manish.gaharwar83@gmail.com" class="text-[#555555] visited:text-[#adaaaa]">mailto:manish.gaharwar83@gmail.com</a>,
            <a href=" manish.gaharwar83@gmail.com" class="text-[#555555] visited:text-[#adaaaa]"> manish.gaharwar83@gmail.com</a>
        </p>
        <p>WEBSITE : <a href=" www.ljku.edu.in" class="text-[#555555] visited:text-[#adaaaa]"> www.ljku.edu.in</a></p>
    </div>
    <div class="font-serif max-w-screen-2xl mx-auto  my-12 ">
        <p class="text-xl text-[#82b0f3] ">Mr. Jayrajsinh Gohil</p>
        <p>Assistant Training and Placement Officer,</p>
        <p>Career Development Services, Industry Interaction Placement Cell,</p>
        <p>LJ Group of Institutes/LJ University, Ahmedabad.</p>
        <p>EMAIL : <a href=" placement@ljinstitutes.edu.in " class="text-[#555555] visited:text-[#adaaaa]"> placement@ljinstitutes.edu.in </a>
        </p>
        <p>LinkedIn : <a href="  http://linkedin.com/in/jayrajsinh5151 " class="text-[#555555] visited:text-[#adaaaa]">  http://linkedin.com/in/jayrajsinh5151 </a>
        </p>
        <p>WEBSITE : <a href=" www.ljku.edu.in" class="text-[#555555] visited:text-[#adaaaa]"> www.ljku.edu.in</a></p>
    </div>
  </div>
  <!-- FOOTER -->
{{>footer}}

</body>
</html>