<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <div class="flex flex-col p-8 mx-auto max-w-screen-2xl gap-8 box-border bg-gray-100  w-full">
            <div class="flex flex-col md:flex-row justify-evenly">
                <div class="flex flex-col items-center">
                    <p class=" font-extrabold " >RANKDATA DB<span class="text-red-600"> LINK</span></p>
                    <img src="./images/database _FINAL.svg" width="300px"  class="cursor-pointer drop-shadow-2xl object-contain aspect-[3/2]" alt="">
                </div>
                <div class="flex flex-col items-center">
                    <p class="text-center font-extrabold "><span class="text-red-600">GITHUB</span> LINK</p>
                   <a target="_blank" href="https://github.com/RISHIRGK/LJKU"> <img src="./images/GITHUB_FINAL.svg" width="300px" class="cursor-pointer drop-shadow-2xl object-contain aspect-[3/2] " alt=""> </a>
                </div>
            </div>
            <p class="text-center font-extrabold text-[4rem]  "> ABOUT <span class="text-red-600">WEBSITE</span></p>
            <div class="flex flex-col md:flex-row justify-evenly">
                <div class="flex flex-col items-center">
                    <p class="text-center font-bold ">TE<span class="text-red-600">M</span>PL<span class="text-red-600">A</span>TE E<span class="text-red-600">N</span>GIN<span class="text-red-600">E</span></p>
                     <a target="_blank" href="https://handlebarsjs.com/">
                    <img
                      src="./images/hbs.svg"
                      class="object-contain aspect-[3/2]    drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    />
                    </a>
                    <p class="text-center">handlebars</p>
                  </div>
                  <div class="flex flex-col items-center ">
                    <p class="text-center font-bold ">C<span class="text-red-600">S</span>S</p>
                   <a target="_blank" href="https://tailwindcss.com/">
                    <img
                      src="./images/tailwind_css.png"
                      class="object-contain aspect-[3/2] drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    />
                    </a>
                    <p class="text-center">tailwindcss</p>
                  </div>
                  <div class="flex flex-col items-center ">
                    <p class="text-center font-bold">S<span class="text-red-600">E</span>RV<span class="text-red-600">E</span>R</p>
                     <a target="_blank" href="https://expressjs.com/">
                    <img
                      src="./images/express.png"
                      class="object-contain aspect-[3/2] drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    />
                    </a>
                    <p class="text-center">express</p>
                  </div>
                  <div class="flex flex-col  items-center ">
                    <p class="text-center font-bold"><span class="text-red-600">D</span>ATA<span class="text-red-600">B</span>ASE</p>
                    <div class="flex">
                      <div class="flex flex-col">
                          <a target="_blank" href="https://www.mongodb.com/docs/compass/current/query/filter/">
                    <img
                      src="./images/mongoDb.png"
                      class="object-contain aspect-[3/2] drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    />
                    </a>
                        <p class="text-center">mongoDB</p>
                      </div>
                      <div class="flex flex-col  items-center ">
                              <a target="_blank" href="https://mongoosejs.com/">
                    <img
                      src="./images/mongoose1.svg"
                      class="object-contain aspect-[3/2] drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    />
                    </a>
                        <p class="text-center">mongoose</p>
                      </div>
                    </div>
                  </div>
            </div>
              <div class="flex flex-col md:flex-row justify-evenly">
               <div class="flex flex-col items-center">
                    <p class="text-center font-bold ">C<span class="text-red-600">H</span>AR<span class="text-red-600">T</span> LI<span class="text-red-600">B</span>RAR<span class="text-red-600">Y</span></p>
                    <a target="_blank" href="https://www.chartjs.org/">
                    <img
                      src="./images/cj.png"
                      class="object-contain aspect-[3/2] drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    />
                    </a>
                    <p class="text-center">chartjs</p>
                  </div> 
                  <div class="flex flex-col items-center ">
                    <p class="text-center font-bold ">DEPL<span class="text-red-600">O</span>YMENT</p>
                    <a  target="_blank" href="https://www.cyclic.sh/">
                    <img
                      src="./images/cyclic.jpeg"
                      class="object-contain aspect-[3/2] rounded-lg drop-shadow-xl cursor-pointer "
                      width="150px"
                      alt=""
                    /></a>
                    <p class="text-center">cyclic</p>
                  </div>
            </div>
        </div>
    {{>footer}}    
</body>
</html>