<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>ERROR</title>
</head>
<body>
    <div class="w-[100vw] h-[100vh] flex flex-col justify-center items-center gap-8 " >
        <p class=" font-extrabold ">{{err}}</p>
        <img src="{{src}}" alt="">
        <a href="/" class="py-4 px-2 rounded-full ring-1 ring-gray-500  hover:ring-black transition-all duration-300 font-bold " >  GO BACK <span class="text-red-600">!!!</span> </a>
    </div>
</body>
</html>