@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes text_change_anim {
    from{ color: #ef4444; }
    to{ color: #000000; }
    
}
#goto_developer_page
{
    animation: text_change_anim 1s infinite ease-in-out ;
}